@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 60, 139, 0.548);
}

header {
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 255, 0.548);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title h1 {
    font-size: 25px;
    margin: 1rem;
    font-family: cursive;
}

.nav-toggle {
    cursor: pointer;
    color: rgba(72, 255, 0, 0.815);
    font-size: 1.45rem;
    background: transparent;
    border: none;
    height: 25px;
    width: 10px;
}

.menu {
    display: none;
}

.menu a {
    color: black;
    font-size: 30px;
}

.menu-show {
    position: fixed;
    background-color: rgb(25, 0, 255);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    gap: 3rem;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: darkred;
    cursor: pointer;
}

.container {
    padding: 1.25rem;
}

.presentation p {
    font-size: 25px;
    font-weight: 400;
}

.presentation span {
    font-weight: 700;
}

h2 {
    border-bottom: 1px solid orange;
}

.text p {
    padding: 1rem 0;
    font-size: 22px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
    margin: 1rem 0;
    padding: 1rem;
}

.photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

button {
    background-color: orange;
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.card {
    border: 1px solid orangered;
    box-shadow: 0 0 0.75rem orange;
    margin-top: 1.5rem;
}

.project {
    width: 300px;
}

.project__title, 
.project__explanation {
    font-size: 1.25rem;
}

.project__social-media a {
    color: black;
    font-size: 2.5rem;
}

.botaoEmail {
    text-align: center;
}

.text-footer {
    text-align: center;
    font-size: 1.5rem;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    list-style: none;
}

.footer-social-media a {
    font-size: 2.5rem;
    color: black;
}

@media screen and (min-width:1024px) {
    .title h1 {
        border-bottom: 3.5px solid orange;
    }
    
    .menu {
        display: flex;
        justify-content: center;
    }

    ul li a:hover {
        border-bottom: 2px solid orange;
    }

    .close-btn, .nav-toggle {
        display: none;
    }

    .p__about {
        text-align: center;
    }

    .image {
        display: flex;
    }

    .card {
        width: 32%;
    }

    .cards{
        display: flex;
        gap: 1.3rem;
    }

    .p__contact {
        text-align: center;
    }

    .contato {
        text-align: center;
    }
}