@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 60, 139, 0.548);
}

header {
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 255, 0.548);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title h1 {
    font-size: 25px;
    margin: 1rem;
    font-family: cursive;
}

.nav-toggle {
    cursor: pointer;
    color: rgba(72, 255, 0, 0.815);
    font-size: 1.45rem;
    background: transparent;
    border: none;
    height: 25px;
    width: 10px;
}

.menu {
    display: none;
}

.menu a {
    color: black;
    font-size: 30px;
}

.menu-show {
    position: fixed;
    background-color: rgb(25, 0, 255);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    gap: 3rem;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: darkred;
    cursor: pointer;
}

.container {
    padding: 1.25rem;
}

.presentation p {
    font-size: 25px;
    font-weight: 400;
}

.presentation span {
    font-weight: 700;
}

h2 {
    border-bottom: 1px solid orange;
}

.text p {
    padding: 1rem 0;
    font-size: 22px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
    margin: 1rem 0;
    padding: 1rem;
}

.photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.botaoLinkedIn {
    background-color: orange;
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.card {
    border: 1px solid orangered;
    box-shadow: 0 0 0.75rem orange;
    margin-top: 1.5rem;
}

.project1 {
    width: 300px;
}

.project__title, 
.project__explanation {
    font-size: 1.25rem;
}

.project__social-media a {
    color: black;
    font-size: 2.5rem;
}






/* header {
    width: 100vw;
    border-bottom: 1px solid blue;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.container h1 {
    font-weight: 700;
    font-size: 25px;
    color: whitesmoke;
}

.menu ul,
.menu a {
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: none;
    list-style: none;
}

.menu li a,
.menu a {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: darkred;
    cursor: pointer;
}

.close-btn:hover {
    font-size: 2.5rem;
}

.menu {
    display: none;
}

.menu-show {
    position: fixed;
    background-color: rgb(0, 47, 255);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.nav-toggle {
    cursor: pointer;
    color: rgba(0, 255, 85, 0.582);
    font-size: 1.3rem;
    background: transparent;
    border: none;
    height: 10px;
    width: 10px;
}

.section {
    padding: 2.5rem 0;
}

#home {
    padding-top: 5.5rem;
}

.text__one {
    font-family: cursive;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.text h1 {
    font-size: 30px;
    color: orange;
}

.subtitle, .text p {
    padding-top: 1.5rem;
}

.text__second {
    border-bottom: 2px solid orange;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
    margin: 1rem 0;
    padding: 1rem;
}

.photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.botaoLinkedIn {
    background-color: orange;
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.botaoLinkedIn a {
    text-decoration: none;
    font-size: 20px;
}

.card {
    border: 1px solid orangered;
    box-shadow: 0 0 0.75rem orange;
    margin-top: 1.5rem;
}

.projeto1 {
    width: 300px;
}

.title-project, .project-explanation {
    font-size: 1.25rem;
}

.social-media {
    list-style: none;
}

.social-media a {
    color: black;
    font-size: 2.5rem;
}

.contato {
    text-align: center;
    margin-top: 1.5rem;
}

.contato button {
    border-radius: 10px;
    border: none;
    height: 2rem;
    background-color: rgba(0, 0, 255, 0.836);
    cursor: pointer;
    padding: .5rem;
}

.botaoEmail {
    text-decoration: none;
    color: orange;
    font-size: 1.2rem;
}

.container-text {
    text-align: center;
    font-size: 1.5rem;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    list-style: none;
}

.footer-social-media a {
    font-size: 2.5rem;
    color: black;
}

@media screen and (min-width: 1024px){
    .close-btn,
    .nav-toggle {
        display: none;
    }

    .menu {
        display: flex;        
    }
} */