@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    background-color: whitesmoke
}

body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 0 0 1rem black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title h1 {
    font-size: 30px;
    margin: 1rem;
    font-family: cursive;
    text-shadow: 3px 3px 3px white;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul > li > a {
    color: black;
    font-size: 25px;
}

ul li a:hover {
    background-color: teal;
    color: lightblue;
}

.container {
    padding: 1.25rem;
}

.presentation p {
    font-size: 25px;
    font-weight: 400;
}

.presentation span {
    font-weight: 700;
}

h2 {
    border-bottom: 1px solid orange;
}

.text p {
    padding: 1rem 0;
    font-size: 22px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
    margin: 1rem 0;
    padding: 1rem;
}

.photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 5px 5px black;
}

button {
    background-color: orange;
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

button:hover {
    background-color: white;
}

.card {
    border: 1px solid orangered;
    box-shadow: 0 0 0.75rem orange;
    margin-top: 1.5rem;
}

.project {
    width: 200px;
    height: 100px;
}

.project__title, 
.project__explanation {
    font-size: 1.25rem;
}

.project__social-media a {
    color: black;
    font-size: 2.5rem;
}

.botaoEmail {
    text-align: center;
}

.text-footer {
    text-align: center;
    font-size: 1.5rem;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    list-style: none;
}

.footer-social-media a {
    font-size: 2.5rem;
    color: black;
}

@media screen and (min-width:1024px) {
    .title h1 {
        border-bottom: 3.5px solid orange;
    }
    
    ul {
        display: flex;
        flex-direction: row;        
    }

    .p__about {
        /* text-align: center; */
        padding: 0 2rem;
    }

    .image {
        display: flex;
    }

    .card {
        width: 32%;
    }

    .cards{
        display: flex;
        gap: 1.3rem;
    }

    .p__contact {
        text-align: center;
    }

    .contato {
        text-align: center;
    }
}