@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 60, 139, 0.938);
}

header {
    width: 100vw;
    border-bottom: 1px solid blue;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.container h1 {
    font-weight: 700;
    font-size: 25px;
    color: whitesmoke;
}

.menu {
    display: none;
}

.menu ul, .menu a {
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.479);
}

.nav-toggle {
    cursor: pointer;
    color: rgba(0, 255, 85, 0.582);
    font-size: 1.3rem;
    background: transparent;
    border: none;
    height: 10px;
    width: 10px;
}

.section {
    padding: 4rem 0;
}

#home {
    padding-top: 5.5rem;
}

.text__one {
    font-family: cursive;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.text h1 {
    font-size: 30px;
    color: orange;
}

.subtitle {
    padding-top: 1.5rem;
}

.text__second {
    border-bottom: 2px solid orange;
}

.text p {
    padding-top: 1.5rem;
}

.image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: 5rem;
    top: 2rem;
}